# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
venv/
env/
ENV/
.venv/
phishing_env/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code & PyCharm
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Generated Reports
reports/*.pdf
reports/*.png
reports/*.csv

# Generated Charts
static/images/prediction_summary.png

# Environment files
.env

# Python build files
build/
dist/
*.egg-info/

# Temporary files
tempCodeRunnerFile.py